<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="x_panel">
        <div class="x_title">
          <h1>Patient Details</h1>
                </div>
        <table id="datatable" class="table table-hover table-colored table-bordered table-striped" >

        <th>Name</th>
     <td><%= @all_patient.name %></td>
        </tr>

        <th>Age</th>
            <td><%= @all_patient.age %></td>
        </tr>

        <th>Mobile</th>
        <td><%= @all_patient.mobile %></td>
        </tr>

        <th>Gender</th>
        <td><%= @all_patient.gender %></td>
        </tr>

        <th>Address</th>
        <td><%= @all_patient.address %></td>
        </tr>

        <th>Description</th>
        <td><%= @all_patient.description %></td>
        </tr>
        
        </table>
                </div>
            </div>
            </div>
        </div>
        </div>